@import 'variables.css';

.alert {
  padding: var(--alert-padding);
  border: 1px solid transparent;
  border-radius: var(--alert-border-radius);
  animation: hideAlert 5s forwards;
}

@keyframes hideAlert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.alert-success {
  color: var(--success-color);
  background-color: var(--success-bg-color);
  border-color: var(--success-border-color);
}

.alert-danger {
  color: var(--danger-color);
  background-color: var(--danger-bg-color);
  border-color: var(--danger-border-color);
}

#error_explanation {
  color: var(--error-color);
  ul {
    color: var(--error-color);
    margin: 0 0 var(--error-margin-bottom) 0;
  }
}

.field_with_errors input {
  border: 1px solid var(--error-input-border-color);
}

.pagy.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagy.nav a {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: var(--primary-color);
  color: var(--text-white);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagy.nav a:hover {
  background-color: var(--primary-hover-color);
}

.pagy.nav .current {
  background-color: var(--current-bg-color);
  font-weight: bold;
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
