:root {
  --text-white: #fff;
  --primary-color: #4a90e2;
  --primary-hover-color: #357abd;
  --current-bg-color: #caa917;

  --alert-padding: 15px;
  --alert-border-radius: 4px;

  --success-color: #3c763d;
  --success-bg-color: #dff0d8;
  --success-border-color: #d6e9c6;

  --danger-color: #a94442;
  --danger-bg-color: #f2dede;
  --danger-border-color: #ebccd1;

  --error-color: red;
  --error-margin-bottom: 30px;

  --error-input-border-color: red;
}
